@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:"Myriad";
	src:url(../font/MyriadWebPro.ttf);
	src:url(../font/MyriadWebPro.ttf?#iefix) format("embedded-opentype"),
	url("../font/MyriadWebPro.ttf") format("truetype");}
*{padding:0; margin:0; font-family:"Myriad",Helvetica,Verdana;}
section{width:1024px; margin:0 auto; background:#FFF;}
body{background: url(../img/fondo/fondo.gif) #FFF;}
header,nav,ul li{display:inline-block; vertical-align:middle;}
header{width:15%; background:#1D70B7;}
nav{width:85%; background:#1C1C1B;}
nav, header{ height:50px;  margin: 0px; padding: 0px 0px 0px 0px;}
ul{margin-top:15px;}
ul li{ height:100%; width:14%; text-align: center;}
a{ text-decoration:none; color:#FFF;} 
.logo{ width:50%;}
.imagenes img{ width:100%; height:260px;}
.imagenes img.preloader{ width:auto !important; height:auto !important;}
.image_static article{ width:49%; display:inline-block;}
article.cent{ width:0.4%;}
#rw{ width:50.5%;}
.image_static article img{ width:100%; height:320px; max-height:320px;}
section.contacto{ height:50px; background:#1D70B7;}
section.contacto article{ display:inline-block; width:60%;}
article.mt{ width:20% !important; background:#0F0;}
.con_email{ text-align:center; vertical-align:middle; display:inline-block; width:20%;}
.cent{ margin-top:15px;}
.cent article{ display:inline-block; vertical-align:middle; width:50% !important;}
.rig{text-align:right; margin-right:15px; color:#FFF;}
.sub{ margin-left:15px; border:2px solid #FFF; background:#1D70B7; color:#FFF;}
.eml1,.sub{ padding:4px;}
.w3c{ text-align:center; font-weight:bold; margin-top:30px;}
.sub2{border:2px solid #FFF; background:#FFF; color:#6F6F6E; padding:8px; border:2px solid #6F6F6E;}
.eqt section{ display:inline-block; width:33.333333333333333333333333333333%; text-align:center; font-weight:bold;}
.eqt{ margin-top:30px;}
.ab{ margin-top:30px; margin-bottom:30px;}
hr{ border:1px solid #6F6F6E; width:90%;}
.tc{ text-align:center; color:#6F6F6E; padding:10px;}
p.tc span{ color:#1D70B7;}
#remove{ max-height:591px;}
/*****************ajax************/
p.tlt{ text-align:center; padding-top:5px; padding-bottom:5px;}
img.preloader{ width:auto !important; height:auto !important; vertical-align:middle;}
/******************curso******/
.contenedor_bien div{ display:inline-block; vertical-align:middle;}
.contenedor_bien .ico_bien{width:10%;}
.contenedor_bien .cont_bien{ width:90%;}
p.title_cont{ font-size:1.2em; font-weight:bold;}
p.subtitle_cont{color:#6F6F6E;}
p.prog_cont{color:#9D9C9C}
.access{border:2px solid #FFF; background:#1D70B7; color:#FFF; padding:12px; margin-top:15px; margin-bottom:15px; border-radius:2em;}
div.reduc{ width:95%; margin:0 auto;}
/******************seleccion de tema******/
div.eat{ width:16.666666666666666666666666666667% !important; display:inline-block; text-align:center; vertical-align:top;}
div.eat img{ width:58px; height:59px;}
.image_static{ max-height:355px;}