@charset "utf-8";
/* CSS Document */

#popup,#popup2 {
    left: 0;
    position: fixed;
    top: -80px;
    width: 100%;
	text-align:center;
   z-index: 90100;
}
#popup p{ color:#FFF; font-weight:bold;}

.popup-overlay,.popup-overlay2 {
    left: 0;
    position: fixed;
    top: 0;    
    width: 100%;
    z-index: 90099;
    display:none;
    background-color: #000;
    cursor: pointer;
    opacity: 0.7;
}

.content-popup,.content-popup2 {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:1150px;
    min-height:196px;
    border-radius:4px;
	
    background-color:#FFF;
    box-shadow: 0 2px 5px #666666;
	max-width:100%;
	max-height:100%;
}
#se{ width:98%; display:inline-block; vertical-align:top; }

#pr{
  border-right: 3px solid #1E6381;}

.content-popup h5,.content-popup2 h5 {
    color:#48484B;
	border-bottom: 3px solid #1E6381;  
    margin-top: 0;
    padding-bottom: 4px;
	text-align:center;
}

h5 { text-align:center; font-size:18px;
    
}


#pr_2,#pr_1{ width:40%;  display:inline-block; vertical-align:top;}
#pr_1{ font-size:16px;}
#pr_2{ width:50%;}



.close,.close2 {
    position: absolute;
    right: 15px;
}
hr.rh{ width:100%;}
h4.xtb2{ margin-top:10px;}